<button class="btn btn-outline-info btn-rectangle mb-3 ml-2" (click)="readExcel()">
    Download Excel
  </button>
<table id="tabledetails" class="table table-stripped-bordered table-bordered">
    <thead>
        <tr>
            <th colspan="3" class="text-center">Employee Details</th>
            <th colspan="3" class="text-center">Company Details</th>
        </tr>
        <tr>
            <th>Employee Name</th>
            <th>Employee Phn num</th>
            <th>Employee Address</th>
            <th>Company Name</th>
            <th>Company Phn num</th>
            <th>Company Address</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dinesh</td>
            <td>94287592824</td>
            <td>Tiruvannamalai</td>
            <td>Mavens-i</td>
            <td>044-238784</td>
            <td>Perungudi</td>
        </tr>
        <tr>
            <td>balu</td>
            <td>8338789398</td>
            <td>chennai</td>
            <td>Mavens-i</td>
            <td>044-238784</td>
            <td>Perungudi</td>
        </tr>
    </tbody>
</table>