
.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }
  .dialog-title {
    margin: 0;
    font-size: 20px;
    flex: 1; 
    text-align: center;
  }
  
  .close-button {
    margin-left: auto; 
  }

  .mat-dialog-content {
    padding: 16px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border: none;
    color: #fff;
    font-size: 16px;
  }
  
  .btn-success {
    background-color: #28a745; 
  }
  
  .btn-danger {
    background-color: #dc3545;
  }
  
  .form-group {
    margin-bottom: 16px;
  }
 
  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end; 
  }
  
  .mat-dialog-actions .close-button {
    margin: 0; 
  }
  